.cards {
  max-width: 880px;
  margin: 50px auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 17px;
}

.card {
  background-color: white;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 246px;
  padding: 0 15px 0 21px;
}

.card__title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-icon {
  width: 21px;
  height: 21px;
  border: none;
  background-image: url(../images/LikeVector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.card__like-icon.active {
  background-image: url(../images/likevectorActive.svg);
}

.card__like-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card__delete-icon {
  width: 18px;
  height: 19px;
  border: none;
  background-image: url(../images/trashIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100%;
  right: 15px;
  top: 18px;
  z-index: 0;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: 586px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .cards {
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 36px auto 50px;
  }
}
