.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 34px 0 36px;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

.popup_opened {
  display: flex;
  z-index: 10;
}

.popup__content {
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  box-shadow: 0px 0px 25px 0px #00000026;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup__close {
  background: none;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  cursor: pointer;
  background: none;
  border: none;
  opacity: 0.6;
}

.popup__close-icon {
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  z-index: 2;
}

.popup__title {
  display: flex;
  justify-content: flex-start;
  width: 358px;
  font-size: 24px;
  font-weight: 900;
  margin: 34px 0 24px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  margin: 0 auto;
}

.popup__input {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}

.popup__button {
  background-color: black;
  color: white;
  border: none;
  width: 358px;
  height: 50px;
  margin: 18px auto 36px;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popup__image-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__caption {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}

.popup__button:disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: default;
}

.popup__input-error {
  color: red;
}

.popup__input_type_error {
  display: block;
  border-bottom: 1px solid red;
}

.popup__error_visible {
  display: block;
  color: red;
}

.popup__button_disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: default;
}

.popup__input-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0 20px 0;
}

.popup__confirm-button {
  background-color: black;
  color: white;
  border: none;
  width: 358px;
  height: 50px;
  margin: 0 auto 36px;
}

.popup__confirm-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popup__confirm-title {
  display: flex;
  justify-content: flex-start;
  width: 358px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  margin: 34px auto 38px;
}
