.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
  margin: 0 auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 22px 30px 21px;
}

.profile__info {
  display: flex;
}

.profile__title {
  max-width: 415px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background: none;
  margin: 15px 0 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__subtitle {
  font-size: 18px;
  font-weight: 400;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-place {
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
  background: none;
  margin-left: auto;
}

.profile__add-place:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__picture {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
}

.profile__picture-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/editProfileAvatar.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__picture:hover .profile__picture-overlay {
  opacity: 1;
}

@media screen and (max-width: 544px) {
  .profile {
    padding-top: 42px;
    max-width: 282px;
    flex-direction: column;
  }

  .profile__info-container {
    align-items: center;
    margin: 30px auto 36px;
  }

  .profile__title {
    max-width: 224px;
    font-size: 22px;
    line-height: 1;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
    justify-content: center;
  }

  .profile__subtitle {
    font-size: 14px;
    max-width: 282px;
  }

  .profile__add-place {
    width: 282px;
  }
}
